body{
    text-align: center;
}
.line{
    height: 6px;
    width: 70px;
    background-color: aqua;
    margin: 8px auto;
}
#app{
    background-color: chocolate;
}
#game{
    background-color: crimson;
}
#chat-bot{
    background-color: chartreuse;
}